extends layout

block content
	.container
		h1 Kauppalista

		ul(id="items" class="list-group")

		form(action="")
			.input-group
				input(id="m" type="text" class="form-control")
				span.input-group-btn
					button.btn.btn-primary Add

		h2 Hankitut

		ul(id="checked" class="list-group")
