script(id="item_template" type="text/html")
	li(id="{{_id}}" class="list-group-item item")
		.input-group
			span.input-group-addon
				input(type="checkbox")
			input(type="text" value="{{text}}" class="form-control")
			span.input-group-btn(type="button")
				button(type="button" class="btn btn-default" item_id="{{_id}}")
					span.glyphicon.glyphicon-trash
					| &nbsp;Delete