body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 600px;
}

a {
  color: #00B7FF;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.list-group .input-group-addon:nth-child(2) {
	border-right: 0;
}